@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  user-select: none;  
  margin: 0;
    
}

body {
box-sizing: border-box;
user-select: none;
background: black;

}
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 20px 0;
}

.page-item {
  margin: 0 5px;
  cursor: pointer;
  padding: 10px;
  border-radius: 5px;
  transition:  0.3s ease;

}

.page-item:hover {
  background-color: #4CAF50; 
  color: white;
}

.active {
  background-color: #007BFF;
  color: white;
}
.previous {
  background-color: orange;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); 
  border-radius: 5px;
  color: #fff;
  padding: 10px;
}
.next {
  background-color: orange;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); 
  border-radius: 5px;
  color: #fff;
  padding: 10px;
  margin-right: 5px;
}


